.navbar {
    height: 4em;
    width: 100%;
    position: fixed;
}

.navbar .brand {
    font-size: large;
}

.navbar .nav {
    font-size: large;
}

#treeView {
    padding-top: 5rem;
}

.row {
    display: flex;
}

.column {
    padding: 1rem 0;
    text-align: center;
    column-fill: balance; /* Keeps column widths the same */
    white-space: nowrap;
}

.member {
    height: auto;
    min-width: 10rem;
    display: inline-block;
    text-align: center;
    background-color: #e3e3e3;
    border: black 1px solid;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0 1rem;
}

.profilePic {
    width: 8rem;
    height: 8rem;
}

h4 {
    font-size: 1.3rem;
}

.familyTile {
    height: auto;
    min-width: 10rem;
    display: inline-block;
    text-align: center;
    background-color: #e3e3e3;
    border: black 1px solid;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0 1rem;
}

.link {
    overflow: hidden;
}

.addButton {
    margin-right: 0.5rem;
}

